PassengerRuby /home/inimical/.rbenv-usergems/shims/ruby
PassengerEnabled On
PassengerBaseURI /var/www/chess_hair/public
PassengerAppRoot /var/www/chess_hair
PassengerAppEnv production

# Enable mod_rewrite, required for the .htaccess rewrites
RewriteEngine On

# Serve static assets directly
RewriteCond %{DOCUMENT_ROOT}/public/assets/$1 -f
RewriteRule ^assets/(.*) %{DOCUMENT_ROOT}/public/assets/$1 [L]

# Serve error pages directly
RewriteCond %{DOCUMENT_ROOT}/public/$1.html -f
RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/public/$1.html [L]

# For stockfish
<IfModule mod_headers.c>
  Header set Cross-Origin-Embedder-Policy "require-corp"
  Header set Cross-Origin-Opener-Policy "same-origin"
</IfModule>
