/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bulma.min.css
 *= require board
 *= require theme_all
 */

html {
  box-sizing: border-box;
  min-height: 100%;
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation: none !important;
    transition: none !important
  }
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0
}

progress {
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 769px) {
  .column1 {
    order: 1;
  }

  .column2 {
    order: 2;
  }

  .column3 {
    order: 3;
  }
}

.hidden {
  display: none !important;
}
