.correct {
    color: green;
}

.incorrect {
    color: red;
}

@keyframes incorrectAnswer {
    25% { background-color: red; transform: translateX(-10px); }
    50% { background-color: red; transform: translateX(10px); }
    75% { background-color: red; transform: translateX(-10px); }
    100% { transform: translateX(0px); }
}

.incorrectAnswer {
    animation: incorrectAnswer 1s linear;
}

@keyframes correctAnswer {
    50% { background-color: green; transform: scale(1.01); }
    100% { transform: scale(1); }
}

.correctAnswer {
    animation: correctAnswer 0.75s linear;
}
